.equipments-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.equipments {
    background-image: url('../../../Assets/equipments/charging-power-bank.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
}

.equipments-text {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: translate(-50%, -50%);
}