.blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.client-card {
    height: 350px;
    width: 600px;
    margin: 0 10px;
    position: relative;
}

.client-card h5 {
    text-align: justify;
    padding: 20px;
    font-weight: lighter;
}

.client-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 60%;
    padding: 20px;
}

.client-info img {
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width:767px) {
    .blogs-container {
        grid-template-columns: 1fr;
    }

    .client-card {
        height: 400px;
        width: 400px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 20px;
    }

    .client-info {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 70%;
        position: absolute;
    }
}