.main-nav {
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.main-nav span {
    color: goldenrod;
}

.navbar-name {
    font-weight: bolder;
    font-size: xx-large;
}

.navigate-container a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}