.product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-list img {
    width: 70px;
    border-radius: 50%;
}

@media screen and (max-width:767px) {
    .product-list {
        width: 180%;
        margin: 10 auto;
        padding: 10px;
        font-size: 0.8em;
    }

    .product-list img {
        width: 50px;
        border-radius: 50%;
    }

    .product-list p {
        margin: 0 10px;
    }

}