.form-container {
    margin: 0 auto;
    width: 450px;
    padding: 40px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and (max-width:767px) {
    .form-container {
        margin: 0 auto;
        width: 370px;
        padding: 30px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}